
@import url("https://fonts.googleapis.com/css2?family=Lora&family=Roboto:wght@100&display=swap")

@import url("components/container.css");
@import url("components/avatar.css");
@import url("components/button.css");
@import url("components/banner.css");
@import url("components/card.css");
@import url("components/video.css");

body {
	font-family: 'Elsie Swash Caps', cursive;
	font-size: 15px;
}

h1, h2, h3 {
	font-family: 'Itim', cursive;
	font-size: 25px;
	font-weight: bold;
	color: black;
}

h4 {
	font-family: 'Itim', cursive;
	font-size: 20.5px;
	font-weight: bold;
	color: black;
}

p {
	font-family: 'Nunito', sans-serif;
	font-size: 18px;
}


a {
	text-decoration:none ;
}


a: hover {
	color: #dd2194;
}